// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
// @import 'nativescript-theme-core/scss/aqua';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// Import the theme’s main ruleset.
// @import 'nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.icon {
  font-family: 'IcoMoon-Free';
}

StackLayout.main-container, GridLayout.main-container {
  padding: 0;
}

GridLayout.footer-container Label.icon {
  font-size: 24;
  margin: 13;
  text-align: center;
}

.main-background-color {
}

.sub-background-color {
  background-color: #EB7A77;
}

.base-background-color {
  background-color: #FCFAF2;
}

.extra-background-color {
  background-color: #58B2DC;
}

.vivid-background-color {
  background-color: #F75C2F;
}

.main-color {
  color: #CCFF90;
}

.sub-color {
  color: #EB7A77;
}

.base-color {
  color: #FCFAF2;
}

.extra-color {
  color: #58B2DC;
}

.vivid-color {
  color: #B481BB;
}

.grey {
  color: #BDC0BA;
}

.blue {
  color: #58B2DC;
}

.red {
  color: #E87A90;
}

.grey-background {
  background-color: #BDC0BA;
}

.blue-background {
  background-color: #58B2DC;
}

.red-background {
  background-color: #E87A90;
}
