<GridLayout columns="*" rows="*92,*8">
<!--  <GridLayout columns="*" rows="*92,*8" [gradient]="'#C9FFBF'" [endColor]="'#FFAFBD'"> -->
  <router-outlet></router-outlet>

  <GridLayout *ngIf="!router.url.includes(EXAM_TAKE) && !router.url.includes(EXAM_RESULT)" class="footer-container base-background-color" row="1" colSpan="3" columns="*,*,*,*" rows="*" toggleNavButton>
    <Label (tap)="goHome()"
            text="&#xe900;"
            col="0"
            row="0"
            class="icon"
            horizontalAlignment="center"
            verticalAlignment="center"
            [ngClass]="{'blue': router.url == HOME, 'grey': router.url != HOME}"></Label>
    <Label (tap)="goTest()"
            text="&#xe9ba;"
            col="1"
            row="0"
            class="icon"
            horizontalAlignment="center"
            verticalAlignment="center"
            [ngClass]="{'blue': (router.url == EXAM_INDEX) || router.url.includes(EXAM_RANK), 'grey': (router.url != EXAM_INDEX) || router.url.includes(EXAM_RANK) }"></Label>
    <Label (tap)="editTest()"
            text="&#xe907;"
            col="2"
            row="0"
            class="icon"
            horizontalAlignment="center"
            verticalAlignment="center"
            [ngClass]="{'blue': (router.url == EXAM_CREATE) || router.url.includes(EXAM_EDIT), 'grey': (router.url != EXAM_CREATE) || !router.url.includes(EXAM_EDIT) }"></Label>
    <Label (tap)="goProfile()"
            text="&#xe971;"
            col="3"
            row="0"
            class="icon"
            horizontalAlignment="center"
            verticalAlignment="center"
            [ngClass]="{'blue': router.url == PROFILE, 'grey': router.url != PROFILE}"></Label>
  </GridLayout>
</GridLayout>
