<!-- <StackLayout class="main-container" colSpan="3" row="0" [gradient]="'#6BF9E0'" [endColor]="'#B6EAE1'"> -->

<StackLayout class="main-container" colSpan="3" row="0">
  <GridLayout *ngIf="!editting" columns="*" rows="*7,*93">
    <GridLayout row="0" columns="*,*,*,*,*" rows="*" class="base-background-color">
      <Label (tap)="createExam()" col="2" text="&#xe960;" horizontalAlignment="center" verticalAlignment="center" class="icon save sub-color"></Label>
    </GridLayout>

    <StackLayout row="1" class="form">
      <StackLayout class="input-field">
        <Label text="Name:" textWrap="true"></Label>
        <TextField [(ngModel)]="exam.name" class="input input-rounded" hint="Name"></TextField>

        <Label text="Tags:" textWrap="true"></Label>
        <GridLayout columns="*,*,*" rows="auto">
          <TextField [(ngModel)]="exam.tags[0]" class="input input-rounded" col="0" hint="Tag1"></TextField>
          <TextField [(ngModel)]="exam.tags[1]" class="input input-rounded" col="1" hint="Tag2"></TextField>
          <TextField [(ngModel)]="exam.tags[2]" class="input input-rounded" col="2" hint="Tag3"></TextField>
        </GridLayout>

        <Label text="Description:" textWrap="true"></Label>
        <TextField [(ngModel)]="exam.description" class="input input-rounded" hint="Description"></TextField>

        <GridLayout rows="auto,auto" columns="*,*,*">
          <Label row="0" col="0" colspan="3" text="Number of Answers for each Question:" textWrap="true"></Label>
          <Label (tap)="downNumberOfAnswer()"
                 text="&#xea0b;"
                 class="icon minus red"
                 row="1"
                 col="0"
                 horizontalAlignment="center"></Label>
          <Label [text]="exam.numberOfAnswer"
                 row="1"
                 col="1"
                 class="number-of-answer"
                 horizontalAlignment="center"></Label>
          <Label (tap)="upNumberOfAnswer()"
                 text="&#xea0a;"
                 class="icon plus blue"
                 row="1"
                 col="2"
                 horizontalAlignment="center"></Label>
        </GridLayout>
      </StackLayout>

      <Label text="Questions:" textWrap="true"></Label>
      <ScrollView orientation="vertical">
        <GridLayout columns="*,*,*,*,*" [rows]="getRows()" toggleNavButton class="exams">
          <Button *ngFor="let topic of exam.topics; let indexOfTopic = index"
                  (tap)="openEditView(indexOfTopic)"
                  (longPress)="deleteTopic(indexOfTopic)"
                  [col]="getCol(indexOfTopic)"
                  [row]="getRow(indexOfTopic)"
                  [text]="indexOfTopic + 1"
                  class="topic base-color red-background"
                  [ngClass]="{ 'blue-background': isValidTopic(indexOfTopic) }"></Button>
          <Button (tap)="addTopic()"
                  [col]="getCol(exam.topics.length)"
                  [row]="getRow(exam.topics.length)"
                  text="&#xea0a;"
                  class="icon add-topic grey-background base-color"></Button>
        </GridLayout>
      </ScrollView>

    </StackLayout>
  </GridLayout>

  <GridLayout *ngIf="editting" columns="*" rows="*7,*93">
    <GridLayout row="0" columns="*,*,*,*,*" rows="*" class="base-background-color">
      <Label (tap)="backToList()" col="0" text="&#xea40;" horizontalAlignment="left" class="icon back sub-color"></Label>
    </GridLayout>

    <StackLayout row="1" class="form">
      <Label class="label" text="Question" textWrap="true"></Label>
      <TextView [(ngModel)]="exam.topics[indexOfTopic].question"
                hint="Question"
                class="input input-border"
                returnKeyType="done"
                backgroundColor="Transparent"
                (returnPress)="submit($event)"></TextView>

      <StackLayout *ngIf="exam.topics[indexOfTopic].question">
        <Label class="label" [text]="suggestAnswerChoice(indexOfTopic)" textWrap="true" class="red"></Label>
        <FlexboxLayout *ngFor="let line of (exam.topics[indexOfTopic].question.split(' ').length / 5) | times">
          <Button *ngFor="let word of exam.topics[indexOfTopic].question.split(' ').slice(line * 5, (line * 5) + 5); let indexOfWord = index"
                  (tap)="setAnswer(indexOfWord + (line * 5))"
                  class="word base-color"
                  [ngClass]="{
                                'blue-background': !isAnswerSelected(indexOfWord + (line * 5)),
                                'red-background': isAnswerSelected(indexOfWord + (line * 5))
                              }"
                  [class.selected]="isAnswerSelected(indexOfWord)"
                  [text]="word"
                  flexGrow="1"></Button>
        </FlexboxLayout>
      </StackLayout>

      <Label class="label" text="Hint" textWrap="true"></Label>
      <TextView [(ngModel)]="exam.topics[indexOfTopic].description"
                hint="Hint"
                class="input input-border"
                returnKeyType="done"
                backgroundColor="Transparent"
                (returnPress)="submit($event)"></TextView>
    </StackLayout>
  </GridLayout>

</StackLayout>
