Label {
  font-size: 20%;
  margin: 0 0 1% 0;
}

TextField.input.input-rounded {
  height: 5%;
}

Label.number-of-answer {
  text-align: center;
  font-size: 25%;
}

Label.minus {
  text-align: right;
}

Label.plus {
  text-align: left;
}

Label.save, Label.back {
  margin: 10;
  font-size: 14;
}
