Label {
  font-size: 14;
  margin: 5;
}

TextField.input.input-rounded {
  font-size: 14;
  margin: 5;
}

Label.number-of-answer {
  font-size: 19;
}

Label.minus {
  font-size: 12;
}

Label.plus {
  font-size: 12;
}

Button.topic {
  margin: 7;
  padding: 10;
  font-size: 13;
  width: 60;
  height: 60;
}

Button.add-topic {
  margin: 7;
  font-size: 13;
  width: 60;
  height: 60;
}

Button.blue {
  margin: 5;
}

Button.red {
  margin: 5;
}

Label.save, Label.back {
  margin: 7;
  font-size: 19;
}

Button.word {
  margin: 5;
}
