GridLayout.list-group-item Label {
  vertical-align: middle;
}

GridLayout.list-group-item Label.initial_letter {
  text-align: center;
}

GridLayout.list-group-item Label.tag {
  text-align: center;
}

.add-button {
  padding: 0 10;
}
