Label {
  font-size: 20%;
  margin: 0 0 1% 0;
}

TextField.input.input-rounded {
  height: 5%;
}

Label.number_of_answer {
  text-align: center;
  font-size: 25%;
}

Label.minus {
  text-align: right;
}

Label.plus {
  text-align: left;
}

Button.topic, Button.add-topic {
  font-size: 19;
  color: white;
  width: 100;
  height: 100;
}

Label.save, Label.back {
  margin: 10;
  font-size: 14;
  padding: 0 10;
}
