<StackLayout class="main-container" colSpan="3" row="1">
  <SearchBar id="serach_bar" #searchBar hint="Search Tag..." (propertyChange)="search(searchBar.text)"></SearchBar>
  <ListView [items]="exams | async" class="list-group">
    <template let-item="item">
      <GridLayout (tap)="takeExam(item.id)" columns="auto,auto,*,*,*,*,*,auto" class="list-group-item">
        <Label col="0" [text]="item.name[0] | uppercase" class="initial_letter"></Label>
        <Label col="1" [text]="item.name" class="title"></Label>
        <Label *ngFor="let tag of item.tags; let indexOfTag = index;"
               [text]="tag.name"
               class="tag"
               [col]="indexOfTag + 2"></Label>
        <Button col="7"
                (tap)="editExam(item.id)"
                text="Edit"
                class="btn btn-primary edit"></Button>
      </GridLayout>
    </template>
  </ListView>
</StackLayout>

<ActivityIndicator class="main-container" colSpan="3" row="1" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
