<!-- <StackLayout class="main-container" colSpan="3" row="0" [gradient]="'#6BF9E0'" [endColor]="'#B6EAE1'"> -->
<StackLayout class="main-container" colSpan="3" row="0">
  <SearchBar id="serach_bar" #searchBar hint="Search Tag..." (propertyChange)="search(searchBar.text)"></SearchBar>
  <ListView (itemLoading)="onItemLoading($event)" [items]="exams | async" class="list-group">
    <template let-item="item">
      <GridLayout (tap)="takeExam(item.id)" columns="*10,*20,*20,*20,*15,*15" rows="*10,*80,*10" class="list-group-item">
        <Label col="0" rowspan="3" [text]="item.name[0] | uppercase" class="initial_letter sub-background-color base-color"></Label>
        <Label col="1" colspan="5" row="1" [text]="item.name" class="title"></Label>
        <Label *ngFor="let tag of item.tags; let indexOfTag = index;"
               [text]="tag.name"
               class="tag vivid-background-color base-color"
               [col]="indexOfTag + 1"
               row="2"></Label>
        <Button col="5"
                rowspan="3"
                (tap)="showRank(item.id)"
                text="Rank"
                class="rank blue-background base-color"
                verticalAlignment="center"></Button>
      </GridLayout>
    </template>
  </ListView>
</StackLayout>

<ActivityIndicator class="main-container main-background-color"
                   colSpan="3"
                   row="0"
                   [busy]="examService.isLoading"
                   [visibility]="examService.isLoading ? 'visible' : 'collapse'"></ActivityIndicator>
