<StackLayout class="main-container" colSpan="3" row="1">
  <SearchBar id="serach_bar" #serachBar row="0" hint="Search" [ngModel]="term" (submit)="searchByTag()"></SearchBar>
  <ListView row="1" [items]="exams" class="list-group">
    <template let-item="item">
      <GridLayout (tap)="takeExam(item.id)" columns="auto,*,*,*,*,*,auto" class="list-group-item">
        <Label col="0" [text]="item.name" class="title"></Label>
        <Label *ngFor="let tag of item.tags; let indexOfTag = index;"
               [text]="'&#xe935;' + tag.name"
               [col]="indexOfTag + 1"
               class="icon"></Label>
        <Button col="6"
                (tap)="editExam(item.id)"
                text="Edit"
                class="btn btn-primary"></Button>
      </GridLayout>
    </template>
  </ListView>
</StackLayout>
