GridLayout.list-group-item {
    margin: 0;
    padding: 5;
}

GridLayout.list-group-item Label {
  vertical-align: middle;
}

GridLayout.list-group-item Label.initial_letter {
  padding: 7px;
  border-radius: 21px;
  width: 42px;
  text-align: center;
  font-size: 22px;
}

GridLayout.list-group-item Label.title {
  font-size: 22px;
}

GridLayout.list-group-item Label.tag {
  margin: 5;
  padding: 2 5;
  font-size: 14;
  text-align: center;
  border-radius: 21;
  width: 18%;
}

GridLayout.list-group-item Button.edit {
  margin: 0;
  padding: 0;
  width: 10%;
}
