<StackLayout *ngIf="!editting" class="input-field">
  <StackLayout class="input-field">
    <Label class="label" text="Name" textWrap="true"></Label>
    <TextField [(ngModel)]="exam.name" class="input input-border" hint="Name"></TextField>
    <Label class="label" text="Description" textWrap="true"></Label>
    <TextField [(ngModel)]="exam.description" class="input input-border" hint="Description"></TextField>
    <Label class="label" text="Number of Answers for each Question" textWrap="true"></Label>
    <GridLayout class="m-15" rows="auto auto" columns="50 * 50">
      <Label [text]="exam.numberOfAnswer" class="h2 p-15" textWrap="true" row="0" colSpan="3"></Label>
      <Label class="icon" text="&#xe90b;" textWrap="true" row="1" col="0" fontSize="15"></Label>
      <Slider [(ngModel)]="exam.numberOfAnswer" minValue="1" value="1" maxValue="5" row="1" col="1"></Slider>
      <Label text="&#xe90b;" textWrap="true" class="icon" row="1" col="2" fontSize="20"></Label>
    </GridLayout>
  </StackLayout>
  <Button (tap)="createExam()" text="Create"></Button>
  <GridLayout *ngIf="!editting" columns="*,*,*,*,*" rows="*,*,*,*,*,*" toggleNavButton>
    <Button *ngFor="let topic of exam.topics; let indexOfTopic = index"
            (tap)="openEditView(indexOfTopic)"
            (longPress)="deleteTopic(indexOfTopic)"
            [col]="getCol(indexOfTopic)"
            [row]="getRow(indexOfTopic)"
            [text]="indexOfTopic + 1"
            [style]="getStyle(indexOfTopic)"></Button>

    <Button (tap)="addTopic()"
            [col]="getCol(exam.topics.length)"
            [row]="getRow(exam.topics.length)"
            text="+"
            style="background-color: #0099CC; margin: 0;"></Button>
  </GridLayout>
</StackLayout>

<StackLayout *ngIf="editting">
  <Label class="label" text="Question" textWrap="true"></Label>
  <TextField [(ngModel)]="exam.topics[indexOfTopic].question" class="input" hint="Question"></TextField>
  <StackLayout *ngIf="exam.topics[indexOfTopic].question">
    <Label class="label" text="Choose Answer" textWrap="true"></Label>
    <FlexboxLayout *ngFor="let line of (exam.topics[indexOfTopic].question.split(' ').length / 5) | times">
      <Button *ngFor="let word of exam.topics[indexOfTopic].question.split(' ').slice(line * 5, (line * 5) + 5); let indexOfWord = index"
              (tap)="setAnswer(indexOfWord + (line * 5))"
              [ngClass]="{'blue': !isAnswerSelected(indexOfWord), 'red': isAnswerSelected(indexOfWord)}"
              [class.selected]="isAnswerSelected(indexOfWord)"
              [text]="word"
              flexGrow="1"></Button>
    </FlexboxLayout>
  </StackLayout>
  <Label class="label" text="Description" textWrap="true"></Label>
  <TextField [(ngModel)]="exam.topics[indexOfTopic].description" class="input" hint="Description"></TextField>
  <Button text="Back" (tap)="backToList()"></Button>
</StackLayout>
