<!-- <StackLayout class="main-container" colSpan="3" row="0" [gradient]="'#6BF9E0'" [endColor]="'#B6EAE1'"> -->

<StackLayout class="main-container" colSpan="3" row="0">
  <GridLayout row="0" columns="*,*,*,*,*" rows="auto" class="header base-background-color">
    <Label (tap)="goExamList()" col="0" text="&#xea40;" horizontalAlignment="left" class="icon back sub-color"></Label>
  </GridLayout>

  <GridLayout columns="*6,*47,*47" rows="auto">
    <Label colspan="2" text="Number of perfects in a low" class="title" textwrap="true" horizontalAlignment="center"></Label>
    <Label col="2" text="Average time of perfects" class="title" textwrap="true" horizontalAlignment="center"></Label>
  </GridLayout>
  <ListView *ngIf="timeOfPerfectRank" (itemLoading)="onItemLoading($event)" [items]="timeOfPerfectRank" class="list-group">
    <template let-rank="item" let-index="index">
      <GridLayout columns="*6,*18,*26,*24,*26" class="list-group-item">
        <Label col="0" [text]="index + 1" class="rank sub-background-color base-color" horizontalAlignment="center"></Label>
        <Label col="1" [text]="numberOfPerfectRank[index].times" class="value" textwrap="true" horizontalAlignment="center"></Label>
        <Label col="2" [text]="numberOfPerfectRank[index].user_name" class="value" textwrap="true" horizontalAlignment="center"></Label>
        <Label col="3" [text]="rank.time | formatMMSSSS" class="value" textwrap="true" horizontalAlignment="center"></Label>
        <Label col="4" [text]="rank.user_name" class="value" textwrap="true" horizontalAlignment="center"></Label>
      </GridLayout>
    </template>
  </ListView>
</StackLayout>

<ActivityIndicator class="main-container main-background-color"
                   colSpan="3"
                   row="1"
                   [busy]="isLoading"
                   [visibility]="isLoading ? 'visible' : 'collapse'"></ActivityIndicator>
