ListView.list-group {
  background-color: transparent;
  margin: 0 20 0 5;
}

ListView.list-group {
  height: 100%;
}

GridLayout Label {
  margin: 10 5;
}

.title {
  font-size: 12;
}

.value {
  font-size: 14;
}
