Label {
  margin: 5;
  vertical-align: middle;
}

Label.score, Label.time, Label.list {
  margin: 5 10;
  font-size: 24;
}

Label.score.icon, Label.time.icon, Label.list.icon {
  width: 84;
  margin: 0;
  padding: 30 0;
  text-align: center;
  color: white;
}

GridLayout.correct Label.icon, GridLayout.wrong Label.icon {
  font-size: 20;
  margin: 0 10;
  padding: 0;
  vertical-align: middle;
}

ListView.list-group {
  margin: 0 20 0 5;
  background-color: transparent;
}

Label.sentence {
  font-size: 14;
}

Label.description {
  font-size: 10;
}

Button.back {
  margin: 10;
}
