Border {
  margin: 2%;
}

Label.question {
  font-size: 40%;
  vertical-align: middle;
  margin: 2%;
}

Button.answer {
  font-size: 20px;
  margin: 1% 2% 1% 2%;
}

StackLayout.stopwatch {
  font-size: 30%;
  text-align: center;
  vertical-align: middle;
}

Label.hint {
  font-size: 20%;
  vertical-align: middle;
  margin: 4%;
}

@keyframes animate {
  from { opacity: 0; }
  to { opacity: 1; }
}

Label.hint {
  animation-name: animate;
  animation-duration: 10s;
}
