GridLayout.header {
  height: 47%;
}

Label {
  text-align: center;
  vertical-align: middle;
}

Label.image {
  background-image: url("res://logo");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 53%;
  width: 31%;
  border-radius: 100%;
  margin: 50 0 30 0;
}

Label.name {
  font-size: 20;
  margin: 0 0 30 0;
}

Label.icon {
  font-size: 14;
  margin: 11 11 0 11;
}

Label.title {
  font-size: 20;
  margin: 0 11 0 11;
}

Button.exam {
  margin: 7;
  padding: 10;
  font-size: 13;
  width: 60;
  height: 60;
}

GridLayout.history-title, ListView.history-list {
  margin: 0;
  padding: 0;
}

GridLayout.history-title Label.score,  ListView.history-list Label.score {
  width: 10%;
}

GridLayout.history-title Label.record-time,  ListView.history-list Label.record-time {
  width: 35%;
}

GridLayout.history-title Label.record-date,  ListView.history-list Label.record-date {
  width: 55%;
}

GridLayout.history-title Label, ListView.history-list Label {
  text-align: center;
  margin: 5;
  padding: 0;
  font-size: 14;
}
