<!-- <StackLayout class="main-container" colSpan="3" row="0" [gradient]="'#6BF9E0'" [endColor]="'#B6EAE1'"> -->

<StackLayout class="main-container" colSpan="3" row="0">
  <GridLayout columns="*,*,*" rows="auto,auto,*">
    <GridLayout *ngIf="user" col="0" colspan="3" row="0" columns="*" rows="auto,auto" class="header">
      <Label row="0" [text]="user.name[0]" class="image sub-background-color base-color"></Label>
      <Label row="1" [text]="user.name" class="name blue"></Label>
    </GridLayout>

    <GridLayout col="0" colspan="3" row="1" columns="*,*,*" rows="auto" class="content">
      <GridLayout col="0" row="0" columns="*" rows="*,*">
        <Label row="0" text="&#xe926;" class="icon blue"></Label>
        <Label row="1" [text]="examName" class="title blue" textWrap="true"></Label>
      </GridLayout>
      <GridLayout col="1" row="0" columns="*" rows="*,*">
        <Label row="0" text="&#xe99b;" class="icon blue"></Label>
        <Label row="1" [text]="averageScore" class="title blue" textWrap="true"></Label>
      </GridLayout>
      <GridLayout col="2" row="0" columns="*" rows="*,*">
        <Label row="0" text="&#xe950;" class="icon blue"></Label>
        <Label row="1" [text]="averageRecordTime | formatMMSSSS" class="title blue" textWrap="true"></Label>
      </GridLayout>
    </GridLayout>

    <ScrollView *ngIf="exams" colspan="3" row="2" [@examListState]=" !isDetailView ? 'active' : 'inactive' " orientation="vertical">
      <GridLayout columns="*,*,*,*,*" [rows]="getRows()" toggleNavButton class="exams">
        <Button *ngFor="let exam of exams; let indexOfTopic = index"
                (tap)="showHistoryDetail(exam)"
                [col]="getCol(indexOfTopic)"
                [row]="getRow(indexOfTopic)"
                [text]="exam.name"
                [style]="getStyle(indexOfTopic)"
                class="exam base-color"
                textWrap="true"></Button>
      </GridLayout>
    </ScrollView>

    <GridLayout *ngIf="latestRecords" colspan="3" row="2" [@historyListState]=" isDetailView ? 'active' : 'inactive' " rows="auto,*">
      <GridLayout row="0" columns="auto,auto,auto" class="history-title">
        <Label col="0" text="Score" class="score"></Label>
        <Label col="1" text="Record Time" class="record-time"></Label>
        <Label col="2" text="Date" class="record-date"></Label>
      </GridLayout>
      <ListView (itemLoading)="onItemLoading($event)" row="1" (swipe)="showHistoryList($event)" [items]="latestRecords" class="list-group history-list">
        <template let-record="item">
          <GridLayout columns="auto,auto,auto" class="list-group-item">
            <Label col="0" [text]="record.score" class="score"></Label>
            <Label col="1" [text]="record.record_time | formatMMSSSS" class="record-time"></Label>
            <Label col="2" [text]="record.created_at | date: 'MMM d, h:m a' " class="record-date"></Label>
          </GridLayout>
        </template>
      </ListView>
    </GridLayout>

  </GridLayout>
</StackLayout>

<ActivityIndicator class="main-container main-background-color"
                   colSpan="3"
                   row="0"
                   [busy]="userService.isLoading"
                   [visibility]="userService.isLoading ? 'visible' : 'collapse'"
                   horizontalAlignment="center"
                   verticalAlignment="center"></ActivityIndicator>
